<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openlab.dao.CommonDao">
	
	<!-- 业务查找 -->
	<select id="getUserByUsernameAndPassword" resultMap="User">
		SELECT * FROM user WHERE username=#{username} AND password=#{password}
	</select>
	<select id="getUserByUsername" resultMap="User">
		SELECT * FROM user WHERE username=#{username}	
	</select>
	<update id="updateUser">
		UPDATE user
			SET username=#{user.username}, name=#{user.name}, password=#{user.password}, tel=#{user.tel}, email=#{user.email}
			WHERE user_id=#{user.userId} AND password=#{password}
			LIMIT 1
	</update>
	<insert id="insertUser">
		INSERT INTO user (username, name, password, tel, email)
			VALUES (#{user.username}, #{user.name}, #{user.password}, #{user.tel}, #{user.email})
	</insert>
	<update id="updateHitByProductId">
		UPDATE product SET hit=hit+1 WHERE product_id=#{productId}
	</update>
	<select id="getTopProductByCategoryId" resultMap="Product">
		SELECT * FROM product 
			WHERE category_detail_id IN 
				(SELECT category_detail_id 
					FROM category_detail 
					WHERE category_id=#{categoryId})
			LIMIT 7
	</select>
	<select id="getPromotionProduct" resultMap="Product">
		SELECT * FROM product
			WHERE is_promotion=1 
			LIMIT 12
	</select>
	<select id="getNewProduct" resultMap="Product">
		SELECT * FROM product
			ORDER BY create_date DESC
			LIMIT 12
	</select>
	<select id="getHotProduct" resultMap="Product">
		SELECT * FROM product
			ORDER BY hit DESC
			LIMIT #{num}
	</select>
	<select id="getProductByCategoryId" resultMap="Product">
		SELECT * FROM product
			WHERE category_detail_id IN 
				(SELECT category_detail_id 
					FROM category_detail 
					WHERE category_id=#{categoryId})
			LIMIT #{start},#{num}
	</select>
	<select id="getProductTotalQuantity" resultType="int">
		SELECT COUNT(product_id) 
			FROM product 
			WHERE category_detail_id IN
				(SELECT category_detail_id 
					FROM category_detail 
					WHERE category_id=#{categoryId})
	</select>
	<select id="getSearchResult" resultMap="Product">
		SELECT * FROM product
			WHERE name LIKE CONCAT('%',#{searchWord},'%') OR info LIKE CONCAT('%',#{searchWord},'%')
			LIMIT #{start}, #{num}
	</select>
	<select id="getSearchTotalQuantity" resultType="int">
		SELECT COUNT(product_id) 
			FROM product 
			WHERE name LIKE CONCAT('%',#{searchWord},'%') OR info LIKE CONCAT('%',#{searchWord},'%')
	</select>
	<select id="getProductByCategoryIdAndNum" resultMap="Product">
		SELECT * FROM product
			WHERE category_detail_id IN 
				(SELECT category_detail_id 
					FROM category_detail 
					WHERE category_id=#{categoryId})
			LIMIT #{num}
	</select>
	<insert id="insertOrder">
		INSERT INTO `order` (order_id, category_num, username, consignee, consignee_address, tel, create_date, comment)
			VALUES (#{order.orderId}, #{order.categoryNum}, #{order.username}, #{order.consignee},
				#{order.consigneeAddress}, #{order.tel}, CURRENT_TIMESTAMP(), #{order.comment})
	</insert>
	<insert id="insertOrderDetail">
		INSERT INTO order_detail (order_id, product_id, price, num)
			VALUES (#{orderDetail.orderId}, #{orderDetail.productId}, #{orderDetail.price}, #{orderDetail.num})
	</insert>
	<select id="countProductQuantity" resultType="int">
		SELECT COUNT(*) FROM product
	</select>
	<select id="getAllProduct" resultMap="Product">
		SELECT * FROM product LIMIT #{start},#{num}
	</select>
	<select id="getCategoryDetailByCategoryId" resultMap="CategoryDetail">
		SELECT * FROM category_detail WHERE category_id=#{categoryId}
	</select>
	<select id="getAllCategory" resultMap="Category">
		SELECT * FROM category
	</select>
	<insert id="insertProduct">
		INSERT INTO product (category_detail_id, name, info, price, price_now, image, create_date, is_new, is_promotion)
			VALUES (#{product.categoryDetailId}, #{product.name}, #{product.info}, #{product.price}, #{product.priceNow},
				#{product.image}, CURRENT_TIMESTAMP(), #{product.isNew}, #{product.isPromotion})
	</insert>
	<insert id="insertCategory">
		INSERT INTO category (name) VALUES (#{name})
	</insert>
	<select id="getAllCategoryDetail" resultMap="CategoryDetail">
		SELECT * FROM category_detail
	</select>
	<insert id="insertCategoryDetail">
		INSERT INTO category_detail (category_id, name) VALUES (#{categoryId}, #{name})
	</insert>
	<select id="countAllUser" resultType="int">
		SELECT COUNT(*) FROM user
	</select>
	<select id="selectAllUser" resultMap="User">
		SELECT * FROM user LIMIT #{start}, #{limit}
	</select>
	<update id="updateUserGrade">
		UPDATE user SET grade=grade+#{grade} WHERE username=#{username}
	</update>
	
	
	<!-- 基本查找~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<select id="getOrdersByUsername" resultMap="Order">
		SELECT * FROM `order` WHERE username=#{username}
	</select>
	<select id="getOrderDetailsByOrderId" resultMap="OrderDetail">
		SELECT * FROM order_detail WHERE order_id=#{orderId}
	</select>
	<select id="getProductByProductId" resultMap="Product">
		SELECT * FROM product WHERE product_id=#{productId}
	</select>
	<select id="getCategoryDetailByCategoryDetailId" resultMap="CategoryDetail">
		SELECT * FROM category_detail WHERE category_detail_id=#{categoryDetailId}
	</select>
	<select id="getCategoryByCategoryId" resultMap="Category">
		SELECT * FROM category WHERE category_id=#{categoryId}
	</select>
	
	<!-- 映射配置~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<resultMap id="User" type="com.openlab.domain.UserBean">
		<id property="userId" column="user_id"/>
		<result property="username" column="username"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<result property="city" column="city"/>
		<result property="idNum" column="id_num"/>
		<result property="grade" column="grade"/> 
		<result property="account" column="account"/>
		<result property="tel" column="tel"/>
		<result property="email" column="email"/>
		<collection property="orders" column="username" ofType="OrderBean" 
			select="getOrdersByUsername"/>
	</resultMap>
	
	<resultMap id="Order" type="OrderBean">
		<id property="orderId" column="order_id"/>
		<result property="categoryNum" column="category_num"/>
		<result property="username" column="username"/>
		<result property="consignee" column="consignee"/>
		<result property="consigneeAddress" column="consignee_adress"/>
		<result property="tel" column="tel"/>
		<result property="createDate" column="create_date"/>
		<result property="comment" column="comment"/>
		<collection property="orderDetails" column="order_id" ofType="OrderDetailBean"
			select="getOrderDetailsByOrderId"/>
	</resultMap>
	
	<resultMap id="OrderDetail" type="OrderDetailBean">
		<id property="orderDetailId" column="order_detail_id"/>
		<result property="orderId" column="order_id"/>
		<result property="productId" column="product_id"/>
		<result property="price" column="price"/>
		<result property="num" column="num"/>
		<association property="product" column="product_id" javaType="ProductBean" 
			select="getProductByProductId"/>
	</resultMap>
	 
	<resultMap id="Product" type="ProductBean">
		<id property="productId" column="product_id"/>
		<result property="categoryDetailId" column="category_detail_id"/>
		<result property="name" column="name"/>
		<result property="info" column="info"/>
		<result property="price" column="price"/>
		<result property="priceNow" column='price_now'/>
		<result property="image" column="image"/>
		<result property="createDate" column="create_date"/>
		<result property="isNew" column="is_new"/>
		<result property="isPromotion" column="is_promotion"/>
		<result property="hit" column="hit"/>
		<association property="categoryDetail" column="category_detail_id" javaType="CategoryDetailBean"
			select="getCategoryDetailByCategoryDetailId"/>
	</resultMap>
	
	<resultMap id="CategoryDetail" type="CategoryDetailBean">
		<id property="categoryDetailId" column="category_detail_id"/>
		<result property="categoryId" column="category_id"/>
		<result property="name" column="name"/>
		<association property="category" column="category_id" javaType="CategoryBean"
			select="getCategoryByCategoryId"/>
	</resultMap>
	
	<resultMap id="Category" type="CategoryBean">
		<id property="categoryId" column="category_id"/>
		<result property="name" column="name"/>
	</resultMap>
</mapper>
